In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import joblib

In [39]:
books = pd.read_csv("../Book_reviews/BX-Books.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv("../Book_reviews/BX-Users.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
users.columns = ['userID', 'location', 'age']
ratings = pd.read_csv("../Book_reviews/BX-Book-Ratings.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
3,0374157065,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg

In [41]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X  0
1  276726  0155061224  5
2  276727  0446520802  0
3  276729  052165615X  3
4  276729  0521795028  6

In [42]:
users.head()

   userID                            location   age
0  1       nyc, new york, usa                 NaN
1  2       stockton, california, usa           18.0
2  3       moscow, yukon territory, russia    NaN
3  4       porto, v.n.gaia, portugal           17.0
4  5       farnborough, hants, united kingdom NaN

In [43]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [44]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-44-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [45]:
books.loc[books.yearOfPublication == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelbaum""",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";James Buckley""",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN

In [46]:
books.loc[books.ISBN == '078946697X', 'imageUrlL'] =  'http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlM'] =  'http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlS'] =  'http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '078946697X', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '078946697X', 'bookAuthor'] =  'Michael Teitelbaum'
books.loc[books.ISBN == '078946697X', 'bookTitle'] =  'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'

books.loc[books.ISBN == '0789466953', 'imageUrlL'] =  'http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlM'] =  'http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlS'] =  'http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '0789466953', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '0789466953', 'bookAuthor'] =  'James Buckley'
books.loc[books.ISBN == '0789466953', 'bookTitle'] =  'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers'

In [47]:
books.loc[books.publisher == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
10049,0789495929,Sharks (DK Pockets),Joyce Pope,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789495929.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789495929.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789495929.01.LZZZZZZZ.jpg
10478,0789426277,Forgotten Fire,Adam Bagdasarian,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789426277.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789426277.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789426277.01.LZZZZZZZ.jpg
15148,0789420279,Children Just Like Me: Celebrations!,Anabel Kindersley,1997,DK Publishing Inc,http://images.amazon.com/images/P/0789420279.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789420279.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789420279.01.LZZZZZZZ.jpg
16424,0789488914,Crime Scene: The Ultimate Guide to Forensic Science,Richard Platt,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789488914.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789488914.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789488914.01.LZZZZZZZ.jpg
17141,0789458063,Eyewitness: Early Humans,Nick Merriman,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789458063.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789458063.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789458063.01.LZZZZZZZ.jpg
...,...,...,...,...,...,...,...,...
266709,0789485176,DK Readers: The Story of Muhammad Ali (Level 4: Proficient Readers),Leslie Garrett,2002,DK Publishing Inc,http://images.amazon.com/images/P/0789485176.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789485176.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789485176.01.LZZZZZZZ.jpg
266710,0789498510,Do Cows Bark? (DK See-Through),Not Applicable (Na ),2003,DK Publishing Inc,http://images.amazon.com/images/P/0789498510.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789498510.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789498510.01.LZZZZZZZ.jpg
269758,0789476460,The Grammar of Ornament: Illustrated by Examples from Various Styles of Ornament,Owen Jones,2001,DK Publishing Inc,http://images.amazon.com/images/P/0789476460.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789476460.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789476460.01.LZZZZZZZ.jpg
269767,0789460440,KISS Guide to Astrology,Julia Parker,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789460440.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789460440.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789460440.01.LZZZZZZZ.jpg
270402,0789497379,New Orleans (Eyewitness Travel Guides),Marilyn Wood,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789497379.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789497379.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789497379.01.LZZZZZZZ.jpg

In [48]:
books.loc[books.yearOfPublication == 'Gallimard']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN

In [49]:
books.loc[books.ISBN == '2070426769', 'imageUrlL'] =  'http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlM'] =  'http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlS'] =  'http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'publisher'] =  'Gallimard'
books.loc[books.ISBN == '2070426769', 'yearOfPublication'] =  '2003'
books.loc[books.ISBN == '2070426769', 'bookAuthor'] =  'Jean-Marie Gustave Le ClÃ?Â©zio'
books.loc[books.ISBN == '2070426769', 'bookTitle'] =  "Peuple du ciel, suivi de 'Les Bergers'"

In [50]:
books.loc[books.yearOfPublication != 0].shape[0] / books.shape[0]*100

98.68440448113208

In [51]:
books.shape

(271360, 8)

In [52]:
books.yearOfPublication = pd.to_numeric(books.yearOfPublication, errors = 'coerce')

In [53]:
books.yearOfPublication.dtype

dtype('int64')

In [54]:
users.head()

   userID                            location   age
0  1       nyc, new york, usa                 NaN
1  2       stockton, california, usa           18.0
2  3       moscow, yukon territory, russia    NaN
3  4       porto, v.n.gaia, portugal           17.0
4  5       farnborough, hants, united kingdom NaN

In [55]:
users.loc[users.location.isna()].shape[0] / users.shape[0] *100

0.0

In [56]:
new_ratings = ratings[ratings.ISBN.isin(books.ISBN)]
new_ratings.shape[0]

1031136

In [57]:
ratings_explicit = new_ratings[new_ratings.bookRating != 0]
ratings_implicit = new_ratings[new_ratings.bookRating == 0]

In [58]:
ratings_explicit.bookRating.unique()

array([ 5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

In [59]:
ratings_explicit.head()

    userID        ISBN  bookRating
1   276726  0155061224  5
3   276729  052165615X  3
4   276729  0521795028  6
8   276744  038550120X  7
16  276747  0060517794  9

In [60]:
isbn_count = ratings_explicit.ISBN.value_counts()
isbn_count[isbn_count>=2].index.shape

(50423,)

In [61]:
users_exp_ratings = users[users.userID.isin(ratings_explicit.userID)]
users_imp_ratings = users[users.userID.isin(ratings_implicit.userID)]
print(users_exp_ratings.shape[0], users_imp_ratings.shape[0])

68091 52451

In [62]:
counts1 = ratings_explicit['userID'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['userID'].isin(counts1[counts1>=100].index)]
counts = ratings_explicit['bookRating'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['bookRating'].isin(counts[counts>=100].index)]

In [63]:
user_ratings = ratings_explicit.pivot(index='userID', columns='ISBN', values='bookRating')
user_ratings.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# user_ratings = user_ratings.fillna(0)
# user_ratings

In [114]:
test_rating = user_ratings
test_rating= test_rating.dropna(thresh = 4, axis =1).fillna(0)

In [115]:
test_rating

ISBN,000649840X,0007154615,0020125305,0020198906,0020427859,0020442009,0020442203,0020442300,0020442408,0020442602,...,1888054557,189205101X,1893010023,1896860982,193156146X,1931561648,2070360024,3257229364,3522128001,8420482013
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [116]:
# Building Similarity Matrix
item_similarity_df = test_rating.corr(method='pearson') 
item_similarity_df.head(10)

ISBN,000649840X,0007154615,0020125305,0020198906,0020427859,0020442009,0020442203,0020442300,0020442408,0020442602,...,1888054557,189205101X,1893010023,1896860982,193156146X,1931561648,2070360024,3257229364,3522128001,8420482013
ISBN,,,,,,,,,,,,,,,,,,,,,
000649840X,1.000000,0.210401,-0.011813,-0.010733,-0.009996,-0.009976,0.154357,-0.009989,0.229456,0.227101,...,0.191980,-0.012149,-0.009890,0.304284,0.221329,0.195300,-0.011062,0.228364,-0.009914,0.151191
0007154615,0.210401,1.000000,-0.011418,-0.010373,-0.009661,-0.009641,-0.012780,-0.009654,-0.009415,-0.009622,...,0.171032,-0.011742,-0.009559,0.271707,0.197389,0.174005,-0.010691,0.203784,-0.009582,0.134694
0020125305,-0.011813,-0.011418,1.000000,-0.011382,-0.010600,-0.010579,-0.014023,-0.010593,-0.010331,-0.010558,...,-0.013026,-0.012884,-0.010489,-0.011297,0.112969,0.098425,-0.011731,-0.010444,-0.010514,-0.010259
0020198906,-0.010733,-0.010373,-0.011382,1.000000,-0.009631,-0.009611,-0.012740,-0.009625,-0.009386,-0.009593,...,-0.011835,-0.011706,-0.009529,-0.010264,-0.010777,-0.011826,-0.010658,-0.009489,-0.009553,-0.009320
0020427859,-0.009996,-0.009661,-0.010600,-0.009631,1.000000,-0.008951,-0.011865,-0.008963,-0.008741,-0.008933,...,-0.011022,-0.010901,-0.008875,-0.009559,0.218333,-0.011014,-0.009926,-0.008837,-0.008896,-0.008680
0020442009,-0.009976,-0.009641,-0.010579,-0.009611,-0.008951,1.000000,0.181104,0.201065,0.576081,0.691963,...,0.171919,-0.010879,-0.008857,-0.009540,-0.010017,-0.010992,-0.009906,-0.008819,0.298712,-0.008663
0020442203,0.154357,-0.012780,-0.014023,-0.012740,-0.011865,0.181104,1.000000,-0.011857,0.388822,0.408327,...,-0.014580,-0.014421,-0.011740,-0.012645,-0.013278,-0.014570,-0.013131,-0.011690,-0.011769,-0.011483
0020442300,-0.009989,-0.009654,-0.010593,-0.009625,-0.008963,0.201065,-0.011857,1.000000,-0.008735,0.219724,...,0.182928,-0.010894,-0.008869,-0.009553,-0.010030,-0.011007,-0.009920,-0.008831,-0.008890,-0.008674
0020442408,0.229456,-0.009415,-0.010331,-0.009386,-0.008741,0.576081,0.388822,-0.008735,1.000000,0.557675,...,-0.010741,-0.010624,-0.008649,-0.009316,-0.009782,-0.010734,-0.009674,-0.008612,0.329248,-0.008459
0020442602,0.227101,-0.009622,-0.010558,-0.009593,-0.008933,0.691963,0.408327,0.219724,0.557675,1.000000,...,0.188178,-0.010858,-0.008839,-0.009521,-0.009997,-0.010970,-0.009887,-0.008802,-0.008861,-0.008646

In [123]:
def get_similar_items(item_id, test_rating):
    similar_score = item_similarity_df[item_id] *(test_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score.iloc[:20]

In [103]:
books.head()
def get_book_title(isbn):
    title = books.loc[books.ISBN == isbn, 'bookTitle']
    return title.values[0]

def get_book_isbn(bookTitle):
    isbn = books.loc[books.bookTitle == bookTitle, 'ISBN']
    isbn = list(isbn)
    return isbn[0]

In [74]:
def detail(book):
#     print(get_book_isbn(book))
#     print(get_book_isbn(book) in test_rating.columns)
    asf = ratings.ISBN.value_counts()
    return asf[asf.index == get_book_isbn(book)]
# # item_similarity_df[itm]
# '0679418210' == itm

In [104]:
test_rating.columns.values

array(['000649840X', '0006546684', '0006547834', ..., '8423310353',
       '8478886451', '950491036X'], dtype=object)

In [105]:
get_book_isbn('Notes From an Even Smaller Island') in test_rating.columns.values

False

In [106]:
bookDetail = books[books.ISBN.isin(test_rating.columns)]

In [121]:
isbn = bookDetail.ISBN.values
isbn[205]

'0345313860'

In [129]:
get_book_title('0007154615')

'Unless : A Novel'

In [111]:
def recommend(book_lover):
    similar_items = pd.DataFrame()

    for item,rating in book_lover:
        similar_items =similar_items.append(get_similar_items(item, rating), ignore_index=True)

    similar_items.head()
    recommended = similar_items.sum().sort_values(ascending=False)
    rec_10 =[]
    for i in recommended[:20].index:
        rec_10.append(get_book_title(i))
    return rec_10

In [112]:
book_lover = [(isbn[205],9), (isbn[603], 9)]
recommend(book_lover)

['Private Eyes (Alex Delaware Novels (Paperback))',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'When the Wind Blows',
 'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
 'CRUEL DOUBT',
 'The Queen of the Damned (Vampire Chronicles (Paperback))',
 'Survival of the Fittest: An Alex Delaware Novel',
 'Bad Love (Alex Delaware Novels (Paperback))',
 'Bed of Roses',
 'Interview with the Vampire',
 'Wild Orchids : A Novel',
 'The Bartered Bride',
 'The Tenth Commandment',
 'Home at Last',
 'French Silk',
 'MY STORY',
 'The Mulberry Tree',
 "A Fever in the Heart : Ann Rule's Crime Files, Volume III",
 'Gates of Paradise',
 'It Must Be Love (Avon Light Contemporary Romances)']

In [117]:
# joblib.dump(item_similarity_df, "./item_similarity.joblib", compress=True)

['./item_similarity.joblib']

In [119]:
# joblib.dump(test_rating, "./test_rating.joblib", compress=True)

['./test_rating.joblib']

In [120]:
# joblib.dump(bookDetail, "./books.joblib", compress=True)

['./books.joblib']

In [ ]:
# dataset = joblib.load("test_rating.joblib")

In [ ]:
# sim = joblib.load("item_similarity.joblib")

In [128]:
# similar_score = item_similarity_df['0345313860'] *(test_rating-2.5)
# # similar_score = similar_score.sort_values(ascending=False)
# similar_score.apply(lambda x: x.sort_values().values)

ISBN,000649840X,0007154615,0020125305,0020198906,0020427859,0020442009,0020442203,0020442300,0020442408,0020442602,...,1888054557,189205101X,1893010023,1896860982,193156146X,1931561648,2070360024,3257229364,3522128001,8420482013
userID,,,,,,,,,,,,,,,,,,,,,
2033,-0.165594,-0.143544,-0.211949,-0.166889,-0.179332,-0.232770,-0.145994,-0.155322,-0.227306,-0.258845,...,-0.118581,-0.217967,-0.177444,-0.232380,-0.151704,-0.121747,-0.198465,-0.165060,-0.177876,-0.093387
2110,-0.165594,-0.143544,-0.155429,-0.141214,-0.155421,-0.232770,-0.145994,-0.155322,-0.227306,-0.258845,...,-0.118581,-0.217967,-0.130126,-0.232380,-0.151704,-0.121747,-0.198465,-0.165060,-0.177876,-0.093387
2276,-0.165594,-0.143544,-0.127169,-0.141214,-0.155421,-0.232770,-0.145994,-0.131426,-0.227306,-0.258845,...,-0.118581,-0.188904,-0.106466,-0.232380,-0.151704,-0.121747,-0.172003,-0.165060,-0.154159,-0.093387
4017,-0.165594,-0.143544,-0.070650,-0.141214,-0.155421,-0.232770,-0.145994,-0.131426,-0.227306,-0.258845,...,-0.118581,-0.159842,-0.106466,-0.232380,-0.151704,-0.121747,-0.119079,-0.165060,-0.106725,-0.093387
4385,-0.165594,-0.143544,-0.070650,-0.012838,0.059777,-0.232770,-0.145994,0.059739,-0.227306,-0.258845,...,-0.118581,-0.130780,0.059148,-0.232380,-0.151704,-0.121747,-0.119079,-0.165060,0.059292,-0.093387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274061,0.231832,0.028709,0.070650,0.064188,0.059777,-0.232770,0.321186,0.059739,-0.227306,-0.258845,...,0.355742,0.072656,0.059148,0.046476,0.394432,0.365241,0.066155,-0.165060,0.059292,-0.093387
274301,0.298070,0.258379,0.070650,0.064188,0.059777,0.512093,0.379583,0.059739,0.227306,0.465920,...,0.355742,0.072656,0.059148,0.139428,0.394432,0.365241,0.066155,0.231084,0.059292,0.056032
275970,0.298070,0.315796,0.070650,0.064188,0.059777,0.605201,0.379583,0.059739,0.500074,0.569458,...,0.355742,0.072656,0.059148,0.325332,0.455113,0.365241,0.066155,0.363132,0.059292,0.093387
277427,0.364308,0.315796,0.070650,0.064188,0.059777,0.605201,0.437981,0.059739,0.590996,0.672996,...,0.355742,0.072656,0.059148,0.325332,0.455113,0.365241,0.066155,0.429155,0.059292,0.168096
278418,0.364308,0.315796,0.070650,0.064188,0.059777,0.698309,0.437981,0.059739,0.681919,0.672996,...,0.355742,0.072656,0.059148,0.511236,0.455113,0.365241,0.066155,0.495179,0.059292,0.205450