In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import joblib

# This is data cleaning and preprocessing part to make data ready for ML algorithm

1. Load books, users and rating dataset using pandas read_csv method

In [2]:
books = pd.read_csv("../Book_reviews/BX-Books.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv("../Book_reviews/BX-Users.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
users.columns = ['userID', 'location', 'age']
ratings = pd.read_csv("../Book_reviews/BX-Book-Ratings.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

2. Display all loaded Dataset to dataframe

In [3]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [5]:
users.head()

   userID                            location   age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

# For Books part

3. Checking all unique values in the yearOfPublication columns of books dataframe

In [6]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

5. Code to display entire values without clipping

In [7]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-7-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

6. Checking and correcting data values that are in incorrect columns

In [8]:
books.loc[books.yearOfPublication == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelbaum""",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";James Buckley""",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN

In [9]:
books.loc[books.ISBN == '078946697X', 'imageUrlL'] =  'http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlM'] =  'http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlS'] =  'http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '078946697X', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '078946697X', 'bookAuthor'] =  'Michael Teitelbaum'
books.loc[books.ISBN == '078946697X', 'bookTitle'] =  'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'

books.loc[books.ISBN == '0789466953', 'imageUrlL'] =  'http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlM'] =  'http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlS'] =  'http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '0789466953', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '0789466953', 'bookAuthor'] =  'James Buckley'
books.loc[books.ISBN == '0789466953', 'bookTitle'] =  'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers'

In [11]:
books.loc[books.yearOfPublication == 'Gallimard']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN

In [12]:
books.loc[books.ISBN == '2070426769', 'imageUrlL'] =  'http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlM'] =  'http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlS'] =  'http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'publisher'] =  'Gallimard'
books.loc[books.ISBN == '2070426769', 'yearOfPublication'] =  '2003'
books.loc[books.ISBN == '2070426769', 'bookAuthor'] =  'Jean-Marie Gustave Le ClÃ?Â©zio'
books.loc[books.ISBN == '2070426769', 'bookTitle'] =  "Peuple du ciel, suivi de 'Les Bergers'"

7. Checking the percentage of values in yearOfPublication column that is not zero

In [13]:
books.loc[books.yearOfPublication != 0].shape[0] / books.shape[0]*100

98.68440448113208

In [14]:
books.shape

(271360, 8)

In [15]:
books.yearOfPublication = pd.to_numeric(books.yearOfPublication, errors = 'coerce')

In [16]:
books.yearOfPublication.dtype

dtype('int64')

# Users part

In [17]:
users.head()

   userID                            location   age
0  1       nyc, new york, usa                 NaN
1  2       stockton, california, usa           18.0
2  3       moscow, yukon territory, russia    NaN
3  4       porto, v.n.gaia, portugal           17.0
4  5       farnborough, hants, united kingdom NaN

1. Checking the % of users location that is NA

In [18]:
users.loc[users.location.isna()].shape[0] / users.shape[0] *100

0.0

# Ratings part

1. Checking how many books in Rating dataframe is present in Books dataframe.

In [19]:
new_ratings = ratings[ratings.ISBN.isin(books.ISBN)]
new_ratings.shape[0]

1031136

2. creating 'rating_explicit' where the books from ratings dataframe which are rated atleast once, and 'rating_implicit' where books are not rated even once.

In [20]:
ratings_explicit = new_ratings[new_ratings.bookRating != 0]
ratings_implicit = new_ratings[new_ratings.bookRating == 0]

In [21]:
ratings_explicit.bookRating.unique()

array([ 5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

In [22]:
ratings_explicit.head()

    userID        ISBN  bookRating
1   276726  0155061224  5
3   276729  052165615X  3
4   276729  0521795028  6
8   276744  038550120X  7
16  276747  0060517794  9

3. 'isbn_count' for counting the no. of books that are rated 2 times and more

In [23]:
isbn_count = ratings_explicit.ISBN.value_counts()
isbn_count[isbn_count>=2].index.shape

(50423,)

4. 'users_exp_ratings' for the user that has rated books included in ratings_explicit that contains books that have been rated atleast once and vise versa for 'users_imp_ratings'

In [24]:
users_exp_ratings = users[users.userID.isin(ratings_explicit.userID)]
users_imp_ratings = users[users.userID.isin(ratings_implicit.userID)]
print(users_exp_ratings.shape[0], users_imp_ratings.shape[0])

68091 52451

5.This four line of code creates the ratings_explicit dataframe where it includes all the users that has rated atleast 100 books and books that have been rated atleast 100 times

In [25]:
counts1 = ratings_explicit['userID'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['userID'].isin(counts1[counts1>=100].index)]
counts = ratings_explicit['bookRating'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['bookRating'].isin(counts[counts>=100].index)]

6. This code creates a pivot table which is basically a dataframe that has user as index and books as columns and the corresponding values are the ratings.
Pivot table is the last thing we need to create to make our dataset ready for machine learning algorithm

In [26]:
test_rating = ratings_explicit.pivot(index='userID', columns='ISBN', values='bookRating')
test_rating.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7. This code further filters the pivot table we created and removes all the books that has been rated less than 3 times

In [253]:
test_rating= test_rating.dropna(thresh = 3, axis =1).fillna(0)

In [254]:
test_rating

ISBN,000649840X,0006546684,0006547834,0006550789,0006742939,0007154615,0020125305,0020198906,0020199600,002026478X,...,3404148665,3442431875,3522128001,8251800811,8401328942,842046435X,8420482013,8423310353,8478886451,950491036X
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Finished Cleaning and Preparing data. Now starting tha ML algorithm

1. Creating a Similarity Matrix with the help of pandas inbuilt corr method that creates the pearson correlation for each items/books from which we can determine the similarity between each items

In [255]:
# Building Similarity Matrix
item_similarity_df = test_rating.corr(method='pearson') 
item_similarity_df.head(10)

ISBN,000649840X,0006546684,0006547834,0006550789,0006742939,0007154615,0020125305,0020198906,0020199600,002026478X,...,3404148665,3442431875,3522128001,8251800811,8401328942,842046435X,8420482013,8423310353,8478886451,950491036X
ISBN,,,,,,,,,,,,,,,,,,,,,
000649840X,1.000000,0.279243,0.193059,0.265604,-0.008523,0.210401,-0.011813,-0.010733,-0.008601,-0.008327,...,0.299423,0.241990,-0.009914,-0.008640,-0.008642,-0.008585,0.151191,0.248143,-0.008591,-0.008645
0006546684,0.279243,1.000000,0.228326,0.312945,-0.006623,0.249427,-0.009180,-0.008340,-0.006684,-0.006471,...,0.352367,0.285409,-0.007704,-0.006714,-0.006716,-0.006671,0.179987,0.292519,-0.006676,-0.006718
0006547834,0.193059,0.228326,1.000000,0.217197,-0.006491,0.172268,-0.008997,-0.008174,-0.006550,-0.006342,...,0.244792,0.197927,-0.007551,-0.006580,-0.006582,-0.006538,0.123895,0.202939,-0.006543,-0.006584
0006550789,0.265604,0.312945,0.217197,1.000000,-0.006609,0.237216,-0.009161,-0.008323,-0.006670,-0.006458,...,0.335348,0.271568,-0.007688,-0.006700,-0.006702,-0.006657,0.171109,0.278346,-0.006662,-0.006704
0006742939,-0.008523,-0.006623,-0.006491,-0.006609,1.000000,-0.008238,-0.009039,-0.008212,-0.006581,-0.006371,...,-0.006615,-0.006589,-0.007586,-0.006611,-0.006612,-0.006569,-0.007401,-0.006465,-0.006573,-0.006615
0007154615,0.210401,0.249427,0.172268,0.237216,-0.008238,1.000000,-0.011418,-0.010373,-0.008313,-0.008048,...,0.267497,0.216073,-0.009582,-0.008350,-0.008353,-0.008297,0.134694,0.221594,-0.008303,-0.008355
0020125305,-0.011813,-0.009180,-0.008997,-0.009161,-0.009039,-0.011418,1.000000,-0.011382,0.220225,-0.008831,...,-0.009168,-0.009132,-0.010514,-0.009162,-0.009165,-0.009104,-0.010259,-0.008961,-0.009111,-0.009168
0020198906,-0.010733,-0.008340,-0.008174,-0.008323,-0.008212,-0.010373,-0.011382,1.000000,-0.008287,-0.008023,...,-0.008330,-0.008297,-0.009553,-0.008324,-0.008327,-0.008272,-0.009320,-0.008141,-0.008278,-0.008330
0020199600,-0.008601,-0.006684,-0.006550,-0.006670,-0.006581,-0.008313,0.220225,-0.008287,1.000000,-0.006430,...,-0.006675,-0.006649,-0.007655,-0.006671,-0.006673,-0.006629,-0.007469,-0.006524,-0.006633,-0.006675
002026478X,-0.008327,-0.006471,-0.006342,-0.006458,-0.006371,-0.008048,-0.008831,-0.008023,-0.006430,1.000000,...,-0.006463,-0.006437,-0.007411,-0.006459,-0.006461,-0.006418,-0.007231,-0.006317,-0.006422,-0.006463

2. A function for returning all the top 20 similar items based on the similarity matrix created earlier

In [32]:
def get_similar_items(item_id, test_rating):
    similar_score = item_similarity_df[item_id] *(test_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score.iloc[:20]

3. This is just a simple function for getting the book title and book isbn when correct input is provided

In [33]:
def get_book_title(isbn):
    title = books.loc[books.ISBN == isbn, 'bookTitle']
    return title.values[0]

def get_book_isbn(bookTitle):
    isbn = books.loc[books.bookTitle == bookTitle, 'ISBN']
    isbn = list(isbn)
    return isbn[0]

4. Getting only the books that are in final preprocessed dataset

In [249]:
bookDetail = books[books.ISBN.isin(test_rating.columns)]

In [250]:
bookDetail.shape

(3843, 8)

5.This is the final function that we need to get the top 20 books, based on the books and its ratings given by that particular user.<br>
The recommend function takes book_lover as an arguement that is nothing but list which contains the pairs of books and its ratings

In [42]:
def recommend(book_lover):
    similar_items = pd.DataFrame()

    for item,rating in book_lover:
        similar_items =similar_items.append(get_similar_items(item, rating), ignore_index=True)

    similar_items.head()
    recommended = similar_items.sum().sort_values(ascending=False)
    rec_10 =[]
    for i in recommended[:20].index:
        rec_10.append(get_book_title(i))
    return rec_10

TESTING THE FUNCTION

In [43]:
book_lover = [(get_book_isbn('The Perfect Lie'),9), (get_book_isbn('Isle of Dogs'), 8)]
recommend(book_lover)

['1551666758',
 '0425182908',
 '0446609919',
 '1551669390',
 '0743436830',
 '0373483902',
 '0515134368',
 '0399150870',
 '0553583980',
 '0373484836',
 '0399149309',
 '0312251947',
 '0743423682',
 '0505524619',
 '0060514930',
 '0743423585',
 '0515133868',
 '0425172546',
 '0373791178',
 '0515131660']

The following code creates a joblib file to store all the created variables that we need for the django project. What it does is, it takes the variable, dataframe or trained model, and stores it as a joblib file which can be loaded to another project when needed.

In [44]:
joblib.dump(item_similarity_df, "./item_similarity.joblib", compress=True)

In [256]:
joblib.dump(test_rating, "./test_rating.joblib", compress=True)

['./test_rating.joblib']

In [251]:
joblib.dump(bookDetail, "./books.joblib", compress=True)

['./books.joblib']